.container{
    width: 100%;
    /* background-image: url(); */
    
}
.Wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: -10px;
    padding-bottom: 50px;
    
}
.center{
    padding-top: -20px;
    padding-bottom: 40px;
}
.Flex{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    padding-top: 40px;
    margin: 0 auto;
    height: 400px;
    gap: 2rem;
    margin-bottom: 60px;
}
.courseName{
    padding-bottom: 40px;
    
}
.imgSize{
    width: auto;
    border-radius: 20px;
    padding-right: 10px;
}
.literacy{
    text-align: start;
    font-weight: bold;
    padding-bottom: 20px;
}
.literacy_P{
    text-align: justify;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
    color: #0C121C;
}
.price{
    text-align: start;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 22px;
}
.course{
    background-color: orange;
    font-size: 40px;
    color: #fff;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.LeftDir{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
.left{
    font-size: 30px;
    background-color: purple;
    border-radius: 100%;
    color: white;
}

.rightDir{
   display: flex;
    align-items: center;
    padding-right: 20px;
} 
.right{
    font-size: 30px;
    background-color: purple;
    border-radius: 100%;
    color: white;
} 
.button{
    margin-left: -180px;
    margin-top: ;
}

@media (max-width: 768px){
    .Flex{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
    .LeftDir, .rightDir{
        display: none;
    }
    .Wrapper{
        padding-top: 40px;
        padding-bottom: 200px;
    }
    .smallFlex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .price{
        margin-top: 20px;
    }
    .courseName{
        padding-bottom: 100px;
    }
    .courseName > h1 {
        font-size: 30px;
    }
    .course{
        font-size: 30px;
    }
}